body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#plane {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 40px;
  height: 40px;
  z-index: 9999;
}

#navCircle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  height: 400;
  z-index: 9999;
}
