body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#plane {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 9999;
}

#navCircle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  height: 400;
  z-index: 9999;
}

#navSideBar {
  width: 200px;
  height: 100%;
  margin-top: 51.5px;
  background-color: #202020;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  z-index: 9999;
  display: grid;
  gap: 40px;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}

#navTopBar {
  width: 100%;
  height: 50px;
  background-color: white;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2px;
  font-family: 'Roboto Mono', monospace;
  border-bottom: 1.5px solid white;
}

.topRowGrid {
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.topRow {
  background-color: #202020;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.column {
  background-color: #202020;
  padding: 0px;
}

.meterContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.arc {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.meterStick {
  width: 3px;
  height: 65px;
  transform: rotate(-48deg);
  background: white;
  position: absolute;
  bottom: 37px;
  left: 50%;
  z-index: 2;
  transform-origin: bottom center;

}

.meterTitle {
  position: absolute;
  left: 90%;
  bottom: 60px;
  font-size: 20px;
}

.barMeterTitle {
  position: absolute;
  left: 3%;
  bottom: 18px;
  font-size: 15px;
}

.meterRating {
  position: absolute;
  left: 70%;
  bottom: 25px;
  font-size: 24px;
  color: #00FF00;
}

.barMeterRating {
  position: absolute;
  left: 80%;
  bottom: 18px;
  font-size: 20px;
}

.barMeterContainer {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 10px
}

.triangle {
  position: absolute;
  z-index: 2;
  left: 0%;
  bottom: 4px;
  width: 100%;
  height: 100%
}

.bar {
  display: block;
  width: 100%;
  height: 100%;
}

.redZone {
  background-color: #EA0303;
  height: 2px;
  bottom: 2.5px;
  position: absolute;
  z-index: 2;
}

.greenZone {
  background-color: #00FF00;
  height: 2px;
  bottom: 2.5px;
  position: absolute;
  z-index: 2;
}


.yellowZone {
  background-color: #FFE80C;
  height: 5px;
  bottom: -2px;
  position: absolute;
  z-index: 2;
}

#flapsSection {
  width: 50px;
  height: 200px;
  background-color: #202020;
  bottom: 0;
  color: white;
  position: fixed;
  left: 200px;
  z-index: 100;
  border-left: 1.5px solid white;
  border-top: 1.5px solid white;
  border-right: 1.5px solid white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.flapsBar {
  width: 100%;
  height: 70%;
  left: 0;
  position: absolute;
}

.flapsIndicator {
  width: 30%;
  height: 30%;
  left: 10px;
  top: 0px;
  position: absolute;
}

.flapsMarker {
  position: absolute;
  left: 62%;
}
